
.main{ width:820px; height:420px; margin:0 auto;background:#f5f5f5; margin-top:30px;}
.left{ float:left;margin-left:10px; width:250px; text-align:center}
.right{float:left; margin-left:30px;}
.textarea_a{resize:none;height:100px;width:500px;}
.textarea_b{resize:none;height:200px;width:500px;}
.tarea{ margin-top:20px}
.main div{ margin-top:10px;}
select{ width:155px;}
#btn{ width:80px;}
